DB_HOST=flordechanar_flordechanar-db
DB_USER=mysql
DB_PASS=tu_password_de_base_de_datos
PORT=3000
JWT_SECRET=tu_secreto_jwt_aqui

# Configuración de Pasarela de Pagos FLOW
# Reemplaza los valores con las credenciales entregadas por Flow
FLOW_API_KEY=tu_api_key_aqui
FLOW_SECRET_KEY=tu_secret_key_aqui
FLOW_SANDBOX=true
